# .env.example

# Development Environment Variables
development:
  MONGODB_URI=mongodb://localhost:27017/dev_db
  JWT_SECRET=your_dev_jwt_secret
  NODE_ENV=development
  PORT=3000

# Production Environment Variables
production:
  MONGODB_URI=mongodb://prod_db_host:27017/prod_db
  JWT_SECRET=your_prod_jwt_secret
  NODE_ENV=production
  PORT=8000